@page "/header"


    <table class="table table-bordered table-striped table-dark">
        <thead>
            <tr>
                <th>
                    <NavLink class="nav-link" href="registeruser">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> New User
                    </NavLink>
                </th>
                <th>
                    <NavLink class="nav-link" href="approveuser">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Approve User
                    </NavLink>
                </th>
                <th>
                    <NavLink class="nav-link" href="createrole">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Role
                    </NavLink>
                </th>
                <th>
                    <NavLink class="nav-link" href="listorders">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> List All Orders
                    </NavLink>
                </th>
                <th>
                    <NavLink class="nav-link" href="createorder">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Order
                    </NavLink>
                </th>
                <th>
                    <NavLink class="nav-link" href="editorder">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Edit Order
                    </NavLink>
                </th>
            </tr>
        </thead>
    </table>    
