@page "/registeruser"

@using Blazor_Client.Models
<h3>Register New User</h3>

<div class="container">
    <div class="form-group">
        <label for="Email">Email:</label>
        <InputText @bind-Value="registerUser.Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <InputText @bind-Value="registerUser.Password" type="password"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password:</label>
        <InputText @bind-Value="registerUser.ConfirmPassword" type="password" class="form-control" />
    </div>
    <div class="btn-group-lg">
        <button class="btn btn-warning">Clear</button>
        <button class="bbtn btn-primary">Save</button>
    </div>
</div>
@code {
    private RegisterUser registerUser = new  RegisterUser();
}
